<!DOCTYPE html>
<html lang="en">
	<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="/javascripts/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/vendor.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
    <script src="/javascripts/vendor.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
	<header id="navStandardSearch">

<nav class="navbar navbar-default yamm navbar-fixed-top">
  <div class="container">
  
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navbar-collapse" class="navbar-toggle collapsed" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand"><img src="/images/layout/logo.png" ></a>
    </div>

    <div id="navbar-collapse" class="navbar-collapse collapse" aria-expanded="false">
      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ABOUT <span class="caret"></span></a>
          <ul class="dropdown-menu classic" role="menu">
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
          </ul>
        </li>
        <!-- item1 finish -->
      
        <li class="dropdown yamm-fw">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="true">PRODUCT<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <div class="yamm-content">
                <div class="row">
                  
                  <div class="col-sm-4 menuColumn">
                    <h4>Catalog 1</h4>
                    <ul>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                    </ul>
                  </div>
                
                  <div class="col-sm-4 menuColumn">
                    <h4>Catalog 2</h4>
                    <ul>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                    </ul>
                  </div>
                
                  <div class="col-sm-4 menuColumn">
                    <h4>Catalog 3</h4>
                    <ul>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                    </ul>
                  </div>

                </div>
              </div>
            </li>
          </ul>
        </li>
        <!-- item2 finish -->
      
        <li class="dropdown yamm-fw">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="true">SERVICE<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <div class="yamm-content">
                <div class="row">
                  
                  <div class="col-sm-3 menuColumn">
                    <h4>Catalog 1</h4>
                    <ul>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                    </ul>
                  </div>

                  <div class="col-sm-3 menuColumn">
                    <h4>Catalog 2</h4>
                    <ul>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                    </ul>
                  </div>

                  <div class="col-sm-3 menuColumn">
                    <h4>Catalog 3</h4>
                    <ul>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                    </ul>
                  </div>

                  <div class="col-sm-3 menuColumn">
                    <h4>Catalog 4</h4>
                    <ul>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                    </ul>
                  </div>

                </div>
              </div>
            </li>
          </ul>
        </li>
        <!-- item3 finish -->

        <li>
          <a href="#">CONTACT</a>
        </li>
        <!-- item4 finish -->
      
        <li>
          <form action="/search" name="searchForm" class="form-inline text-right search-form" roles="form">
            <div class="form-group">
              <label class="sr-only">Search Keyword</label>
              <input type="text" name="q" value="" placeholder="Keywords" class="form-control" required>
              <input type="hidden" name="cx" value="011149492506336809386:m4skf0wek1e">
            </div>
            <button class="search-button"><i class="fa fa-search fa-lg search-button-icon"></i></button>
          </form>
        </li>
        <!-- item5 finish -->

      </ul>
    </div>
  </div>
</nav>

</header>

<script type="text/javascript">
var logoHeightBig = 26;
var logoHeightSmall = 15;

var logoPaddingTopBig = 35;
var logoPaddingTopsmall = 25;

var navPaddingTopBig = 40;
var navPaddingTopSmall = 25;

var navPaddingBottomBig = 30;
var navPaddingBottomSmall = 15;

var searchPaddingTopBig = 33;
var searchPaddingSmall = 16;

$(document).ready(function() {
  $(window).off('scroll');
  $(window).on('scroll',smallNav);
})

function smallNav(){
  var offset = $(window).scrollTop();
  var windowWidth = $(window).width();

  if(offset > 0 && windowWidth > 768) {
    $('.navbar-default').addClass('small-nav');
    $('.navbar-brand img').stop(true,true).animate({ 'height' : logoHeightSmall },{queue:false, duration:200, easing: 'easeOutCubic'}); 
    $('.navbar-brand').stop(true,true).animate({ 'padding-top' : logoPaddingTopsmall },{queue:false, duration:200, easing: 'easeOutCubic'});
    $('.nav>li>a').stop(true,true).animate({ 'padding-top' : navPaddingTopSmall, 'padding-bottom': navPaddingBottomSmall },{queue:false, duration:200, easing: 'easeOutCubic'});  
    $('.search-form').stop(true,true).animate({ 'padding' : searchPaddingSmall },{queue:false, duration:200, easing: 'easeOutCubic'});  
    $(window).off('scroll',smallNav);
    $(window).on('scroll',bigNav);
  }
}

function bigNav(){
    var offset = $(window).scrollTop();
    var windowWidth = $(window).width();
    if(offset == 0 && windowWidth > 768) {
      $('.navbar-default').removeClass('small-nav');
      $('.navbar-brand img').stop(true,true).animate({ 'height' : logoHeightBig },{queue:false, duration:200, easing: 'easeOutCubic'}); 
      $('.navbar-brand').stop(true,true).animate({ 'padding-top' : logoPaddingTopBig },{queue:false, duration:200, easing: 'easeOutCubic'});
      $('.nav>li>a').stop(true,true).animate({ 'padding-top' : navPaddingTopBig, 'padding-bottom': navPaddingBottomBig },{queue:false, duration:200, easing: 'easeOutCubic'});  
      $('.search-form').stop(true,true).animate({ 'padding-top' : searchPaddingTopBig },{queue:false, duration:200, easing: 'easeOutCubic'});  
      $(window).off('scroll',bigNav);
      $(window).on('scroll',smallNav);
    }
}

// prevent unexpected menu close form yamm dropdown content
$(document).on('click', '.yamm .dropdown-menu', function(e) {
  e.stopPropagation();
}); 
</script>

<!--
Basic
  based on bootstrap nav
    <nav class="navbar navbar-default yamm navbar-fixed-top"> fix nav on top
    <ul class="nav navbar-nav navbar-right"> // right align first level menu
    set menu content in mobile view
      <button type="button" data-toggle="collapse" data-target="#navbar-collapse" class="navbar-toggle collapsed" aria-expanded="false">
      <div id="navbar-collapse" class="navbar-collapse collapse" aria-expanded="false">

Drop menu
  use yamm to extend bootstrap dropdown http://geedmo.github.io/yamm3/
    include yamm css into global css
    <nav class="navbar yamm navbar-default " role="navigation"> // add yamm into nav
      <ul class="nav navbar-nav">
        <li class="dropdown yamm-fw"> // fw = full width
          <div class="yamm-content"> // yamm-content is optional, make padding
             <div class="row"> 
    include this js
        $(document).on('click', '.yamm .dropdown-menu', function(e) {
          e.stopPropagation();
        }); 

Scrolling JS
  after page loaded, listen to smallNav()
  if start scroll, add extra class to nav bar
  resize logo, change menu content padding with animation
  listen to bigNav()
  if back to top, restore the changes made by smallNav(), then start listen to smallNav()

Search
  use google custom search engin, 
  submit form to search page, 
  using google code to render search result in search page
-->
	<section class="fullSizeBanner">
	<div id="iBanner" data-bg-mobile-hidden="" class="wpb_row vc_row-fluid full-width-section parallax_section" data-top-percent="15%" data-bottom-percent="15%" >
		<div class="copyWrap centerContent">
			<h2>Lorem ipsum dolor sit amet </h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>			
				<a class="button animationBtn" href="#"><span>call to action</span><i class="fa fa-angle-double-right"></i></a>
				<a class="button blue animationBtn" href="#"><span>call to action</span><i class="fa fa-angle-double-right"></i></a>				
		</div>
		<div class="row-bg-wrap">
			<div class="row-bg using-image " style="background-image: url(/images/layout/bannerBG.jpg);"></div> 
		</div>

	</div>
</section>


<script>
// Create cross browser requestAnimationFrame method:
window.requestAnimationFrame = window.requestAnimationFrame
|| window.mozRequestAnimationFrame
|| window.webkitRequestAnimationFrame
|| window.msRequestAnimationFrame
|| function(f){setTimeout(f, 1000/60)}

$.fn.parallaxScroll = function(xpos, speedFactor, outerHeight) {
	var $smoothCache = true;
	// setup defaults if arguments aren't specified
	if (arguments.length < 1 || xpos === null) xpos = "50%";
	if (arguments.length < 2 || speedFactor === null) speedFactor = 0.1;
	if (arguments.length < 3 || outerHeight === null) outerHeight = true;

	var $this = $(this);
	var getHeight = $this.outerHeight(true);
	var firstTop = $this.offset().top;
	var paddingTop = 0;
	
	// function to be called whenever the window is scrolled or resized

	var $element, top, height, pos;

	function update(){

		pos = $(window).scrollTop();				
		
		$this.each(function(){

			firstTop = $this.offset().top;
			$element = $(this);
			top = $element.offset().top;
			height = $element.outerHeight(true);

			// Check if totally above or totally below viewport
			if (top + height < pos || top > pos + $(window).height()) {
				return;
			}

			var ua = window.navigator.userAgent;
	        var msie = ua.indexOf("MSIE ");

	        //for IE, Safari or any setup using the styled scrollbar default to animating the BG pos
	        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./) || $smoothCache == true || navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1) {
	        	$this.find('.row-bg.using-image').css('backgroundPosition', xpos + " " + Math.round((firstTop - pos) * speedFactor) + "px");
	        }
	       //for Firefox/Chrome use a higher performing method
	        else  {
	        	$this.find('.row-bg.using-image').transition({ 'y':  Math.round((firstTop - pos) * speedFactor) + "px"},0);
	        }              
			
		});
	}		

	window.addEventListener('scroll', function(){ 
		requestAnimationFrame(update); 
	}, false)

	$(window).on('resize',update);

	update();
};

function parallaxRowsBGCals(){
	$("#iBanner .row-bg").css({
		'height': $("#iBanner ").outerHeight(true)*2.5, 
		'margin-top': '-' + ($("#iBanner ").outerHeight(true)*2.5)/2 + 'px'
	});
}

function parallaxScrollInit(){
	$("#iBanner").parallaxScroll("50%", 0.2);
	parallaxRowsBGCals();
}

$(window).load(parallaxRowsBGCals);

$(document).ready(function() {
	parallaxScrollInit();
})
</script>

<!--

<div class="row-bg-wrap"> // mask
	<div class="row-bg using-image " style="background-image: url(/images/layout/bannerBG.jpg);"> // image bg

basic effect by css
	padding-top, padding-bottom, + copy height = banner height
	<mask> position: absolute, top:0, left:0, widht = height = 100%, overflow:hidden, 
		<bg> position: absolute, top:0, left:0, background-size: cover, background-attachment: fixed, height = origin image height

add Js to make scrolling more smooth
	when document is ready, calculate bg image height, margin-top:
	call Jquery pluging to move image smoothly
-->
	<section class="progressBar">
<div class="container">
<div class="low">
	
	<div class="col-md-4">
		<h3>Lorem ipsum dolor </h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem quam, adipiscing condimentum tristique vel, eleifend sed et turpis. Pellentesque cursus arcu id magna euismod in elementum molestie. Curabitur pellentesque massa eu nulla consequat sed porttitor arcu porttitor. Quisque volutpat pharetra felis, eu cursus lorem molestie vitae. Morbi ut arcu dolor. Maecenas id nulla nec nibh viverra vehicula. Cras feugiat, magna eu lacinia vulputate cursus arcu id magna augue est sed nunc.</p>
	</div>
	
	<div class="col-md-8">
		<h3>Lorem ipsum dolor </h3>

		<div class="iProgressBar">
			<p>Lorem ipsum</p>
			<div class="bar-wrap">
				<span  data-width="70">
					<strong><i>70</i>%</strong>
				</span>
			</div>
		</div>

		<div class="iProgressBar">
			<p>Lorem ipsum</p>
			<div class="bar-wrap">
				<span  data-width="80">
					<strong><i>80</i>%</strong>
				</span>
			</div>
		</div>

		<div class="iProgressBar">
			<p>Lorem ipsum</p>
			<div class="bar-wrap">
				<span  data-width="100">
					<strong><i>100</i>%</strong>
				</span>
			</div>
		</div>

		<div class="iProgressBar">
			<p>Lorem ipsum</p>
			<div class="bar-wrap">
				<span  data-width="60">
					<strong><i>60</i>%</strong>
				</span>
			</div>
		</div>


	</div>
</div>
</div>
</section>


<script>
$.fn.countTo = function (options) {
	options = options || {};
	
	return $(this).each(function () {
		// set options for current element
		var settings = $.extend({}, $.fn.countTo.defaults, {
			from:            $(this).data('from'),
			to:              $(this).data('to'),
			speed:           $(this).data('speed'),
			refreshInterval: $(this).data('refresh-interval'),
			decimals:        $(this).data('decimals')
		}, options);
		
		// how many times to update the value, and how much to increment the value on each update
		var loops = Math.ceil(settings.speed / settings.refreshInterval),
			increment = (settings.to - settings.from) / loops;
		
		// references & variables that will change with each update
		var self = this,
			$self = $(this),
			loopCount = 0,
			value = settings.from,
			data = $self.data('countTo') || {};
		
		$self.data('countTo', data);
		
		// if an existing interval can be found, clear it first
		if (data.interval) {
			clearInterval(data.interval);
		}
		data.interval = setInterval(updateTimer, settings.refreshInterval);
		
		// initialize the element with the starting value
		render(value);
		
		function updateTimer() {
			value += increment;
			loopCount++;
			
			render(value);
			
			if (typeof(settings.onUpdate) == 'function') {
				settings.onUpdate.call(self, value);
			}
			
			if (loopCount >= loops) {
				// remove the interval
				$self.removeData('countTo');
				clearInterval(data.interval);
				value = settings.to;
				
				if (typeof(settings.onComplete) == 'function') {
					settings.onComplete.call(self, value);
				}
			}
		}
		
		function render(value) {
			var formattedValue = settings.formatter.call(self, value, settings);
			$self.html(formattedValue);
		}
	});
};

$.fn.countTo.defaults = {
	from: 0,               // the number the element should start at
	to: 0,                 // the number the element should end at
	speed: 1000,           // how long it should take to count between the target numbers
	refreshInterval: 100,  // how often the element should be updated
	decimals: 0,           // the number of decimal places to show
	formatter: formatter,  // handler for formatting the value before rendering
	onUpdate: null,        // callback method for every time the element is updated
	onComplete: null       // callback method for when the element finishes updating
};
function formatter(value, settings) {
	return value.toFixed(settings.decimals);
}

function progressBars(){
	$('.iProgressBar').each(function(i){
		var iTarget = $(this);
		new Waypoint({
			element: $(this),
			handler: function(direction) {
				var percent = iTarget.find('span').attr('data-width');
				var endNum = parseInt(iTarget.find('span strong i').text());

				iTarget.find('span').animate({ 'width' : percent + '%' },1600, 'easeOutCirc');
				iTarget.find('span strong').animate({ 'opacity' : 1},1350);
				iTarget.find('span strong i').countTo({
					from: 0,
					to: endNum,
					speed: 1100,
					refreshInterval: 30,
					onComplete: function(){ }
				});	
				this.destroy();
			}, offset: '90%' })
	});
}
progressBars();
</script>

<!--
css
	<div class="bar-wrap"> // bar bg with radius: 300, inner shadow
		<span  data-width="70"> // color bar, display:block, fixed-height
			<strong> 	// bg box, position: absolute; right:0; top:-30px; 
						// buttom arrow strong:after border-width: 5px 5px 0; make arrow, position absolute
			<i>100</i>%
JS
	get all iProgressBar and convert to waypoint object
	when enter the bottom of the page
		change color bar as data-width width, the box is part of color bar with align right, so it follow the change of color bar
		animation number using count to
-->
	<section class="carousel3Columns">
	
	<div class="customNavigation">
		<div class="container">
			<div class="row">
				<div class="col-sm-10"><h3>Lorem ipsum dolor</h3></div>
				<div class="col-sm-2 rightContent">
					<a class="btn prev"><i class="fa fa-angle-left fa-3x"></i></a>
					<a class="btn next"><i class="fa fa-angle-right fa-3x"></i></a>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div id="carousel4Columns" class="owl-carousel owl-theme">
			<div class="item">
				<a href="#">
					<div class="imageWrapper">
						<div class="overLay"></div>
						<img class="img-responsive" src="/images/carsouel/600x400/01.jpg">
					</div>
					<div class="copyWrapper">
						<h3>Quisque volutpat</h3>
						<h4>Lorem ipsum</h4>
						<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem quam, adipiscing condimentum tristique vel, eleifend sed et turpis. Pellentesque cursus arcu id magna euismod in elementum molestie. </p>
						<p><a href="">Lorem ipsum</a> / <a href="">dolor</a> / <a href="">sit amet</a></p>
					</div>
				</a>
			</div>
		
			<div class="item">
				<a href="#">
					<div class="imageWrapper">
						<div class="overLay"></div>
						<img class="img-responsive" src="/images/carsouel/600x400/02.jpg">
					</div>
					<div class="copyWrapper">
						<h3>Quisque volutpat</h3>
						<h4>Lorem ipsum</h4>
						<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem quam, adipiscing condimentum tristique vel, eleifend sed et turpis. Pellentesque cursus arcu id magna euismod in elementum molestie. </p>
						<p><a href="">Lorem ipsum</a> / <a href="">dolor</a> / <a href="">sit amet</a></p>
					</div>
				</a>
			</div>
		
			<div class="item">
				<a href="#">
					<div class="imageWrapper">
						<div class="overLay"></div>
						<img class="img-responsive" src="/images/carsouel/600x400/03.jpg">
					</div>
					<div class="copyWrapper">
						<h3>Quisque volutpat</h3>
						<h4>Lorem ipsum</h4>
						<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem quam, adipiscing condimentum tristique vel, eleifend sed et turpis. Pellentesque cursus arcu id magna euismod in elementum molestie. </p>
						<p><a href="">Lorem ipsum</a> / <a href="">dolor</a> / <a href="">sit amet</a></p>
					</div>
				</a>
			</div>
		
			<div class="item">
				<a href="#">
					<div class="imageWrapper">
						<div class="overLay"></div>
						<img class="img-responsive" src="/images/carsouel/600x400/04.jpg">
					</div>
					<div class="copyWrapper">
						<h3>Quisque volutpat</h3>
						<h4>Lorem ipsum</h4>
						<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem quam, adipiscing condimentum tristique vel, eleifend sed et turpis. Pellentesque cursus arcu id magna euismod in elementum molestie. </p>
						<p><a href="">Lorem ipsum</a> / <a href="">dolor</a> / <a href="">sit amet</a></p>
					</div>
				</a>
			</div>
		</div>
	</div>

</section>

<script>
$(document).ready(function() {
	var owl4item = $("#carousel4Columns");
	owl4item.owlCarousel({
      	items : 3, //10 items above 1000px browser width
      	itemsMobile : [767,1] // itemsMobile disabled - inherit from itemsTablet option
  	});

	$(".next").click(function(){
		owl4item.trigger('owl.next');
	})
	$(".prev").click(function(){
		owl4item.trigger('owl.prev');
	})
});
</script>

<!--
based on http://owlgraphic.com/owlcarousel/
include js and css into global
-->
	<footer class="footerContent">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h4>Nam lectus elit, placerat</h4>
				<ul>
					<li><a href="#">Sed ut perspiciatis unde omnis iste natus </a></li>
					<li><a href="#">Sed ut perspiciatis unde omnis iste natus </a></li>
					<li><a href="#">Sed ut perspiciatis unde omnis iste natus </a></li>
				</ul>
			</div>
			<div class="col-sm-4">
				<h4>Nam lectus elit, placerat</h4>
				<ul>
					<li><a href="#">Sed ut perspiciatis unde omnis iste natus </a></li>
					<li><a href="#">Sed ut perspiciatis unde omnis iste natus </a></li>
					<li><a href="#">Sed ut perspiciatis unde omnis iste natus </a></li>
				</ul>
			</div>
			<div class="col-sm-4">
				<h4>Nam lectus elit, placerat</h4>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab </p>
				<p><i class="fa fa-phone"></i> (07) 5512 3456</p>
				<p><i class="fa fa-home"></i> 1234/56 Lorem Ipsum St, Consectetur, QLD 4000</p>
				<p><i class="fa fa-envelope-o"></i> lorem@ipsum.com.au</p>
			</div>
		</div>
	</div>
	<div class="bottomStripe">
		<div class="container ">
			<div class="col-sm-4"><p>&copy;  All Rights Reserved. </p></div>
			<div class="col-sm-8 rightContent">
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-facebook-official"></i></a>
				<a href="#"><i class="fa fa-pinterest-square"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-dribbble"></i></a>
				<a href="#"><i class="fa fa-rss"></i></a>
				<a href="#"><i class="fa fa-github-alt"></i></a>
				<a href="#"><i class="fa fa-google-plus"></i></a>
				<a href="#"><i class="fa fa-instagram"></i></a>
			</div>
		</div>
	</div>
	
	<a id="to-top" class="hidden-xs hidden-sm" style="bottom:-30px;"><i class="fa fa-angle-up"></i></a>
</footer>


<script>
$( document ).ready(function() {
	toTopBind();
	
	// across site click to top button and #top link, back to top
	$('body').on('click',' #to-top, a[href="#top"]', function(){
		$('body, html').stop().animate({ scrollTop: 0 }, 'slow');
		return false;
	});
});

function toTopBind() {
	if( $('#to-top').length > 0 && $(window).width() > 1020) {
		if($(window).scrollTop() > 350){
			$(window).on('scroll', showToTop);
		}else {
			$(window).on('scroll', hideToTop);
		}
	}
}

function showToTop(){
	if( $(window).scrollTop() > 350 ){
		$('#to-top').stop(true,true).animate({ 'bottom' : '17px'},'slow');	
		$(window).off('scroll',showToTop);
		$(window).on('scroll',hideToTop);
	}
}

function hideToTop(){
	if( $(window).scrollTop() < 350 ){
		$('#to-top').stop(true,true).animate({ 'bottom' : '-30px'},'slow');	
		$(window).off('scroll',hideToTop);
		$(window).on('scroll',showToTop);	
	}
}
</script>

<!--
topTopJS
	toTopBind()
		window size > 1020 and scroll donw > 350 showToTop()
		else hideToTop()
	showToTop()
		show btn
		remove self from listener, listen to hideToTop()
	hideToTop()
		if scroll down < 350
			hide btn
			remove self from listener, listen to showToTop()
-->
</body>
</html>
