<!DOCTYPE html>
<html lang="en">
	<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="/javascripts/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/vendor.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
    <script src="/javascripts/vendor.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
<header id="fullSizeNavWithCarousel">

<div class="modal fade" id="searchBox" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle-o fa-3"></i></a>
      </div>
      
      <div class="modal-body">
          <form action="/search" name="searchForm" class="text-right" roles="form">
            <div class="form-group">
              <input id="searchInput" type="text" name="q" value="Start Typing..." placeholder="Start Typing..." class="form-control" required>
              <input type="hidden" name="cx" value="011149492506336809386:m4skf0wek1e">
              <p class="tips">Press enter to begin your search</p>
            </div>
          </form>
      </div>
    </div>

  </div>
</div>

<nav id="navFullSize" class="navbar navbar-default yamm navbar-fixed-top">
  <div class="container-fluid">
  
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navbar-collapse" class="navbar-toggle collapsed" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand"><img src="/images/layout/logo.png" ></a>
    </div>

    <div id="navbar-collapse" class="navbar-collapse collapse" aria-expanded="false">
      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ABOUT <span class="caret"></span></a>
          <ul class="dropdown-menu classic" role="menu">
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
          </ul>
        </li>
        <!-- item1 finish -->
      
        <li class="dropdown yamm-fw">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="true">PRODUCT<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <div class="yamm-content">
                <div class="row">
                  
                  <div class="col-sm-4 menuColumn">
                    <h4>Catalog 1</h4>
                    <ul>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                    </ul>
                  </div>
                
                  <div class="col-sm-4 menuColumn">
                    <h4>Catalog 2</h4>
                    <ul>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                    </ul>
                  </div>
                
                  <div class="col-sm-4 menuColumn">
                    <h4>Catalog 3</h4>
                    <ul>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                    </ul>
                  </div>

                </div>
              </div>
            </li>
          </ul>
        </li>
        <!-- item2 finish -->
      
        <li class="dropdown yamm-fw">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="true">SERVICE<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <div class="yamm-content">
                <div class="row">
                  
                  <div class="col-sm-3 menuColumn">
                    <h4>Catalog 1</h4>
                    <ul>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                    </ul>
                  </div>

                  <div class="col-sm-3 menuColumn">
                    <h4>Catalog 2</h4>
                    <ul>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                    </ul>
                  </div>

                  <div class="col-sm-3 menuColumn">
                    <h4>Catalog 3</h4>
                    <ul>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                    </ul>
                  </div>

                  <div class="col-sm-3 menuColumn">
                    <h4>Catalog 4</h4>
                    <ul>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                    </ul>
                  </div>

                </div>
              </div>
            </li>
          </ul>
        </li>
        <!-- item3 finish -->

        <li>
          <a href="#">CONTACT</a>
        </li>
        <!-- item4 finish -->
      
        <li><a data-toggle="modal" data-target="#searchBox" href="#"><i class="fa fa-search fa-lg"></i></a></li>
        <!-- item5 finish -->
        <li><a href="#"><i class="fa fa-shopping-cart fa-lg"></i></a></li>
        <li><a href="#" id="sideWidgetOpen"><i class="fa fa-bars fa-lg"></i></a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- side widget -->
<div id="slide-out-widget-area-bg"></div>
<div id="slide-out-widget-area" style="transform: translate(301px, 0px);">
  <div class="inner">
    <a id="sideWidgetClose" href="#"><i class="fa fa-times-circle-o fa-4"></i></a>
    <div id="text-5" class="widget widget_text">
      <h3>Widget content here</h3>      
    </div> 
  </div>
</div>
<!-- / side widget -->

</header>

<script type="text/javascript">
var logoHeightBig = 26;
var logoHeightSmall = 15;

var logoPaddingTopBig = 35;
var logoPaddingTopsmall = 25;

var navPaddingTopBig = 40;
var navPaddingTopSmall = 25;

var navPaddingBottomBig = 30;
var navPaddingBottomSmall = 15;

var searchPaddingTopBig = 33;
var searchPaddingSmall = 16;



function smallNav(){
  var offset = $(window).scrollTop();
  var windowWidth = $(window).width();

  if(offset > 0 && windowWidth > 768) {
    $('.navbar-default').addClass('small-nav');
    $('.navbar-brand img').stop(true,true).animate({ 'height' : logoHeightSmall },{queue:false, duration:200, easing: 'easeOutCubic'}); 
    $('.navbar-brand').stop(true,true).animate({ 'padding-top' : logoPaddingTopsmall },{queue:false, duration:200, easing: 'easeOutCubic'});
    $('.nav>li>a').stop(true,true).animate({ 'padding-top' : navPaddingTopSmall, 'padding-bottom': navPaddingBottomSmall },{queue:false, duration:200, easing: 'easeOutCubic'});  
    $('.search-form').stop(true,true).animate({ 'padding' : searchPaddingSmall },{queue:false, duration:200, easing: 'easeOutCubic'});  
    $(window).off('scroll',smallNav);
    $(window).on('scroll',bigNav);
  }
}

function bigNav(){
  var offset = $(window).scrollTop();
  var windowWidth = $(window).width();
  if(offset == 0 && windowWidth > 768) {
  $('.navbar-default').removeClass('small-nav');
  $('.navbar-brand img').stop(true,true).animate({ 'height' : logoHeightBig },{queue:false, duration:200, easing: 'easeOutCubic'}); 
  $('.navbar-brand').stop(true,true).animate({ 'padding-top' : logoPaddingTopBig },{queue:false, duration:200, easing: 'easeOutCubic'});
  $('.nav>li>a').stop(true,true).animate({ 'padding-top' : navPaddingTopBig, 'padding-bottom': navPaddingBottomBig },{queue:false, duration:200, easing: 'easeOutCubic'});  
  $('.search-form').stop(true,true).animate({ 'padding-top' : searchPaddingTopBig },{queue:false, duration:200, easing: 'easeOutCubic'});  
  $(window).off('scroll',bigNav);
  $(window).on('scroll',smallNav);
  }
}

// side widget
$('body').on('click','#sideWidgetOpen',function(){
  $('#slide-out-widget-area').stop(true).transition({ x: '0' },750,'easeInOutCubic');
  $('#slide-out-widget-area-bg').css({'height':'100%','width':'100%'}).stop(true).transition({ 'opacity' : 1},750,'easeInOutCubic');
  return false; 
});

$('body').on('click','#sideWidgetClose',function(){
  $('#slide-out-widget-area').stop(true).transition({ x: '301' },750,'easeInOutCubic');
  $('#slide-out-widget-area-bg').css({'height':'1px','width':'1px'}).stop(true).transition({ 'opacity' : 0},750,'easeInOutCubic');
  return false; 
});

$(document).ready(function() {
  $(window).off('scroll');
  $(window).on('scroll',smallNav);
})

  jQuery.fn.setCursorPosition = function(position){
      if(this.lengh == 0) return this;
      return $(this).setSelection(position, position);
  }


$('body').on('keydown','#searchInput',function(){
    if($(this).attr('value') == 'Start Typing...'){
      $(this).attr('value', '');
    }
  });
  
  $('body').on('keyup','#search input[type=text]',function(){
    if($(this).attr('value') == ''){
      $(this).attr('value', 'Start Typing...');
      $(this).setCursorPosition(0);
    }
  });



</script>

<!--
Basic
  based on bootstrap nav, but full size use container-fluid
    <nav class="navbar navbar-default yamm navbar-fixed-top"> fix nav on top
    <ul class="nav navbar-nav navbar-right"> // right align first level menu
    set menu content in mobile view
      <button type="button" data-toggle="collapse" data-target="#navbar-collapse" class="navbar-toggle collapsed" aria-expanded="false">
      <div id="navbar-collapse" class="navbar-collapse collapse" aria-expanded="false">

Drop menu
  use yamm to extend bootstrap dropdown http://geedmo.github.io/yamm3/
    include yamm css into global css
    <nav class="navbar yamm navbar-default " role="navigation"> // add yamm into nav
      <ul class="nav navbar-nav">
        <li class="dropdown yamm-fw"> // fw = full width
          <div class="yamm-content"> // yamm-content is optional, make padding
             <div class="row"> 
    include this js
        $(document).on('click', '.yamm .dropdown-menu', function(e) {
          e.stopPropagation();
        }); 

Scrolling JS
  after page loaded, listen to smallNav()
  if start scroll, add extra class to nav bar
  resize logo, change menu content padding with animation
  listen to bigNav()
  if back to top, restore the changes made by smallNav(), then start listen to smallNav()

Search
  when click search btn. popup bootstrap model, use css modify 
  use google custom search engin, 
  submit form to search page, 
  using google code to render search result in search page

Side widge
  widget and bg use fix position
  click open button change widget trnasform, change bg transform
  click close button, reverse changes
-->
<a href="#" class="slider-down-arrow" style="transform: translate(0px, 0px); opacity: 1;"><i class="fa fa-angle-down fa-3x"></i></a>

<div id="fullScreenCarousel" class="owl-carousel owl-theme">
  <div class="item banner2">
      <div class="container">
        <div class="row">
          <div class="col-sm-12  centerCopy">
            <h1>Lorem ipsum dolor</h1>
            <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
            <a class="button animationBtn" href="#"><span>call to action</span><i class="fa fa-angle-double-right"></i></a>
            <a class="button blue animationBtn" href="#"><span>call to action</span><i class="fa fa-angle-double-right"></i></a>
          </div>
        </div>
    </div>
    <div class="texture"></div>
  </div>


  <div class="item banner1">
      <div class="container">
        <div class="row">
          <div class="col-sm-12  centerCopy">
            <h1>Lorem ips</h1>
            <p>consectetur adipiscing elit sed do eiusmod tempor incididunt</p>
            <a class="button animationBtn" href="#"><span>call to action</span><i class="fa fa-angle-double-right"></i></a>
            <a class="button blue animationBtn" href="#"><span>call to action</span><i class="fa fa-angle-double-right"></i></a>
          </div>
        </div>
    </div>
    <div class="texture"></div>
  </div>

</div>

<script>
$(document).ready(function() {
  if(!navigator.userAgent.match(/(Android|iPod|iPhone|iPad|IEMobile|BlackBerry|Opera Mini)/)){
    setFullScreenBanner();
    $(window).resize(setFullScreenBanner);
  }
  
  $("#fullScreenCarousel").owlCarousel({
    navigation: true, 
    navigationText: ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
    slideSpeed: 300,
    paginationSpeed: 400,
    singleItem: true,
    autoHeight : true
  })

  $('body').on('click','.slider-down-arrow', function(){
    $('body, html').stop().animate({ scrollTop: $(window).height() }, 'slow');
    return false;
  });
})

function setFullScreenBanner() {
  $("#fullScreenCarousel .item").each( function() {   
    $(this).css({ 'height': $(window).height() });
  });
}
</script>

<!--
  based on http://owlgraphic.com/owlcarousel/
  include js and css into global
  after document ready
    setBanner height to screen height
    initial owlCarousel
    in mobile disabled calculate padding and use fixed padding from css. 
    downArrow is css animation. keyframe part from _scss/fundation/animation.scss
-->

<section class="introCopy">
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </p>
		</div>
	</div>
</div>
</section>
<section class="content4Images">
<div class="container-fluid">
	<div class="row">
		
		<div class="col-md-3">
			<a href="#">
				<div class="overLay"></div>
				<img class="img-responsive" src="/images/content/psd-500x400-1.jpg">
				<div class="copyWrapper brownBG">
					<h3>Lorem ipsum dolorsit </h3>
				</div>
			</a>
		</div>

		<div class="col-md-3">
			<a href="#">
				<div class="overLay"></div>
				<img class="img-responsive" src="/images/content/psd-500x400-2.jpg">
				<div class="copyWrapper orangeBG">
					<h3>Lorem ipsum dolorsit </h3>
				</div>
			</a>
		</div>

		<div class="col-md-3">
			<a href="#">
				<div class="overLay"></div>
				<img class="img-responsive" src="/images/content/psd-500x400-3.jpg">
				<div class="copyWrapper purpleBG">
					<h3>Lorem ipsum dolorsit </h3>
				</div>
			</a>
		</div>

		<div class="col-md-3">
			<a href="#">
				<div class="overLay"></div>
				<img class="img-responsive" src="/images/content/psd-500x400-4.jpg">
				<div class="copyWrapper cyanBG">
					<h3>Lorem ipsum dolorsit </h3>
				</div>
			</a>
		</div>

	</div>
</div>
</section>
<section class="contentMilestoneI">
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6">
			
			<div class="col-sm-4 centerContent milestone">
				<p class="number"><span>14</span>k</p>
				<p class="subject">Theme Users</p>
			</div>
			
			<div class="col-sm-4 centerContent milestone">
				<p class="number"><span>1538</span></p>
				<p class="subject">Cups of coffee</p>
			</div>
			
			<div class="col-sm-4 centerContent milestone">
				<p class="number"><span>463</span></p>
				<p class="subject">Features added</p>
			</div>

		</div>
		<div class="col-sm-6">

			<div class="col-sm-4 centerContent milestone">
				<p class="number"><span>7200</span></p>
				<p class="subject">Tickets answered</p>
			</div>

			<div class="col-sm-4 centerContent milestone">
				<p class="number"><span>1000</span></p>
				<p class="subject">Youtube subscriber</p>
			</div>

			<div class="col-sm-4 centerContent milestone">
				<p class="number"><span>600</span>*</p>
				<p class="subject">Google fonts</p>
			</div>

		</div>
	</div>
</div>
</section>

<script>
$(document).ready(function() {
	milestoneInit();
})

function milestoneInit() {
	$('.milestone').each(function() {
		var iTarget = $(this);
		var endNum = parseInt(iTarget.find('.number span').text());
		new Waypoint({
			element: $(this),
			handler: function(direction) {
				iTarget.find('.number span').countTo({
					from: 0,
					to: endNum,
					speed: 1500,
					refreshInterval: 30
				});
				this.destroy();
			},
			offset: '90%'
		})
	})
}

// 
$.fn.countTo = function (options) {
	options = options || {};
	
	return $(this).each(function () {
		// set options for current element
		var settings = $.extend({}, $.fn.countTo.defaults, {
			from:            $(this).data('from'),
			to:              $(this).data('to'),
			speed:           $(this).data('speed'),
			refreshInterval: $(this).data('refresh-interval'),
			decimals:        $(this).data('decimals')
		}, options);
		
		// how many times to update the value, and how much to increment the value on each update
		var loops = Math.ceil(settings.speed / settings.refreshInterval),
			increment = (settings.to - settings.from) / loops;
		
		// references & variables that will change with each update
		var self = this,
			$self = $(this),
			loopCount = 0,
			value = settings.from,
			data = $self.data('countTo') || {};
		
		$self.data('countTo', data);
		
		// if an existing interval can be found, clear it first
		if (data.interval) {
			clearInterval(data.interval);
		}
		data.interval = setInterval(updateTimer, settings.refreshInterval);
		
		// initialize the element with the starting value
		render(value);
		
		function updateTimer() {
			value += increment;
			loopCount++;
			
			render(value);
			
			if (typeof(settings.onUpdate) == 'function') {
				settings.onUpdate.call(self, value);
			}
			
			if (loopCount >= loops) {
				// remove the interval
				$self.removeData('countTo');
				clearInterval(data.interval);
				value = settings.to;
				
				if (typeof(settings.onComplete) == 'function') {
					settings.onComplete.call(self, value);
				}
			}
		}
		
		function render(value) {
			var formattedValue = settings.formatter.call(self, value, settings);
			$self.html(formattedValue);
		}
	});
};

$.fn.countTo.defaults = {
	from: 0,               // the number the element should start at
	to: 0,                 // the number the element should end at
	speed: 1000,           // how long it should take to count between the target numbers
	refreshInterval: 100,  // how often the element should be updated
	decimals: 0,           // the number of decimal places to show
	formatter: formatter,  // handler for formatting the value before rendering
	onUpdate: null,        // callback method for every time the element is updated
	onComplete: null       // callback method for when the element finishes updating
};
function formatter(value, settings) {
	return value.toFixed(settings.decimals);
}
</script>

<!--
6 gird
	based on bootstrap grids. 
	<div class="col-sm-6">
		<div class="col-sm-4"><div class="col-sm-4"><div class="col-sm-4">
JS animation
	convert number to waypoint object,
	when number enter bottom of the page, call countTo 
	counTo defined as Jquery pluging.
-->
<section class="content3columnLeftIcons">
	<div class="container">
		<div class="row">
			<div class="col-md-1">
				<i class="fa fa-cogs fa-4x"></i>
			</div>
			<div class="col-md-3">
				<h2>Lorem ipsum dolor</h2>
				<p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis aliquam. Aliquam in tortor enim.</p>
			</div>

			<div class="col-md-1">
				<i class="fa fa-cogs fa-4x"></i>
			</div>
			<div class="col-md-3">
				<h2>Lorem ipsum dolor</h2>
				<p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis aliquam. Aliquam in tortor enim.</p>
			</div>

			<div class="col-md-1">
				<i class="fa fa-cogs fa-4x"></i>
			</div>
			<div class="col-md-3">
				<h2>Lorem ipsum dolor</h2>
				<p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis aliquam. Aliquam in tortor enim.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-1">
				<i class="fa fa-cogs fa-4x"></i>
			</div>
			<div class="col-md-3">
				<h2>Lorem ipsum dolor</h2>
				<p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis aliquam. Aliquam in tortor enim.</p>
			</div>

			<div class="col-md-1">
				<i class="fa fa-cogs fa-4x"></i>
			</div>
			<div class="col-md-3">
				<h2>Lorem ipsum dolor</h2>
				<p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis aliquam. Aliquam in tortor enim.</p>
			</div>

			<div class="col-md-1">
				<i class="fa fa-cogs fa-4x"></i>
			</div>
			<div class="col-md-3">
				<h2>Lorem ipsum dolor</h2>
				<p>Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis aliquam. Aliquam in tortor enim.</p>
			</div>
		</div>
	</div>
</section>
<section class="grouPhotos01">
  <div class="container-fluid">
  	<div class="row">
  		<div class="col-md-6">
			<a href="#">
				<div class="col-md-12">
					<div class="imgWrapper">
						<div class="overLay"></div>
						<img class="img-responsive" src="/images/grouPhotos/01/1000x500.jpg">
					</div>

					<div class="copyWrapper">
						<div class="vert-center">
							<h3>Lorem ipsum dolorsit </h3>
							<p>March 30. 2014</p>
						</div>
					</div>
				</div>
			</a>
  			
  			<a href="#">
	  			<div class="col-md-6">
	  				<div class="imgWrapper">
	  					<div class="overLay"></div>
	  					<img class="img-responsive" src="/images/grouPhotos/01/500x500-1.jpg">
	  				</div>

	  				<div class="copyWrapper">
						<div class="vert-center">
							<h3>Lorem ipsum dolorsit </h3>
							<p>March 30. 2014</p>
						</div>
					</div>
	  			</div>
  			</a>
  			
  			<a href="#">
	  			<div class="col-md-6">
	  				<div class="imgWrapper">
	  					<div class="overLay"></div>
	  					<img class="img-responsive" src="/images/grouPhotos/01/500x500-2.jpg">
	  				</div>

	  				<div class="copyWrapper">
						<div class="vert-center">
							<h3>Lorem ipsum dolorsit </h3>
							<p>March 30. 2014</p>
						</div>
					</div>
	  			</div>
  			</a>
  		</div>
  		<!-- left -->

  		<a href="#">
	  		<div class="col-md-6">
	  			<div class="imgWrapper">
	  				<div class="overLay"></div>
	  				<img class="img-responsive" src="/images/grouPhotos/01/1000x1000.jpg">
	  			</div>

				<div class="copyWrapper">
					<div class="vert-center">
						<h3>Lorem ipsum dolorsit </h3>
						<p>March 30. 2014</p>
					</div>
				</div>
	  		</div>
  		</a>
  		<!-- right -->

  	</div>
  </div>
</section>

<!--
multi columns
	nested bootstrap gird
rollOver animation
	<div class="overLay"> use absolution
	image enlarge use 
		@include i-transition(transform, 0.4s, ease-out);
		when rollover transform: matrix(1.1, 0, 0, 1.1, -4, -5);
-->
<section class="content4columnIcon">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 centerContent has-animation" data-animation="fade-in-from-left" data-delay="0">
				<i class="fa fa-cogs fa-4x"><i class="circle-border"></i></i>
				<h2> leo eu volutpat vehicula, nisl ullamcorper metus, quis</h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et </p>
			</div>
			<div class="col-sm-3 centerContent has-animation" data-animation="fade-in-from-left" data-delay="200">
				<i class="fa fa-cogs fa-4x"><i class="circle-border"></i></i>
				<h2> leo eu volutpat vehicula, nisl ullamcorper metus, quis</h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et </p>
			</div>

			<div class="col-sm-3 centerContent has-animation" data-animation="fade-in-from-left" data-delay="400">
				<i class="fa fa-cogs fa-4x"><i class="circle-border"></i></i>
				<h2> leo eu volutpat vehicula, nisl ullamcorper metus, quis</h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et </p>
			</div>

			<div class="col-sm-3 centerContent has-animation" data-animation="fade-in-from-left" data-delay="600">
				<i class="fa fa-cogs fa-4x "><i class="circle-border"></i></i>
				<h2> leo eu volutpat vehicula, nisl ullamcorper metus, quis</h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et </p>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
$(document).ready(function() {
	$('.has-animation').each(function() {     
		var iTarget = $(this);
		new Waypoint({
			element: $(this),
			handler: function(direction) {
	 			if(iTarget.attr('data-animation') == 'fade-in-from-left'){
	 				iTarget.delay(iTarget.attr('data-delay')).animate({ 'opacity': 1, 'left': '0px' }, { duration: 800, easing: 'easeOutSine' });
	 			} else if(iTarget.attr('data-animation') == 'fade-in-from-right'){
	 				iTarget.delay(iTarget.attr('data-delay')).animate({ 'opacity': 1, 'right': '0px' },800,'easeOutSine');
	 			} else if(iTarget.attr('data-animation') == 'fade-in-from-bottom'){
	 				iTarget.delay(iTarget.attr('data-delay')).animate({ 'opacity' : 1, 'bottom' : '0px' },800,'easeOutSine');
	 			} else if(iTarget.attr('data-animation') == 'fade-in') {
	 				iTarget.delay(iTarget.attr('data-delay')).animate({ 'opacity' : 1 },800,'easeOutSine'); 
	 			} else if(iTarget.attr('data-animation') == 'grow-in'){
	 				setTimeout( function(){ iTarget.transition({ scale: 1, 'opacity':1 }, 900, 'cubic-bezier(0.15, 0.84, 0.35, 1.25)'); },iTarget.attr('data-delay'));
	 			} else if(iTarget.attr('data-animation') == 'flip-in') {
	 				setTimeout(function(){ iTarget.transition({  rotateY: 0, 'opacity':1 },1100); },iTarget.attr('data-delay'));
	 			}
				this.destroy();
			},
			offset: '90%'
		})
	})	
})
</script>

<!--
rollver animation
	css transition animation, use :hover rather than JS 
	
	<div class="centerContent">
		<i class="fa fa-cogs fa-4x "><i class="circle-border"></i></i>
		
		.centerContent{
			.fa-4x
				radius 999
				width = height = line-hight
				transition(all, 0.1s, linear);
			.circle-border
				radius 999
				position: absolute top:1 left: 1
				2 pixels smaller than fa-4x
				background: none repeat scroll 0 0 transparent;
				transition(all, 225ms, cubic-bezier(0.5, -0.7, 0.67, 0.7))
		
		.centerContent:hover{
			.fa-4x
			.circle-border
				border: 1px solid $base-main-color;
				@include i-transform(scale(1.18));
				@include i-transition(all, 225ms, cubic-bezier(0.4, 0.25, 0.14, 1.73));

starting animation
	based on http://imakewebthings.com/waypoints/, srcoll to specific elements then trigger specific function
	
	animation types
		fade-in-from-left
		fade-in-from-right
		fade-in-from-bottom
		fade-in
		grow-in
		flip-in

	define elements need animated with name  .has-animation
	define animation type and deplay with attribute
		<div class="has-animation" data-animation="fade-in-from-left" data-delay="200">
	find all elements has .has-animation convert to waypoint object, when element getinto bottom of the page, start animation
	implement animation by animation type and deplay 
-->
<section class="fullSizeBanner">
	<div id="iBanner" data-bg-mobile-hidden="" class="wpb_row vc_row-fluid full-width-section parallax_section" data-top-percent="15%" data-bottom-percent="15%" >
		<div class="copyWrap centerContent">
			<h2>Lorem ipsum dolor sit amet </h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>			
				<a class="button animationBtn" href="#"><span>call to action</span><i class="fa fa-angle-double-right"></i></a>
				<a class="button blue animationBtn" href="#"><span>call to action</span><i class="fa fa-angle-double-right"></i></a>				
		</div>
		<div class="row-bg-wrap">
			<div class="row-bg using-image " style="background-image: url(/images/layout/bannerBG.jpg);"></div> 
		</div>

	</div>
</section>


<script>
// Create cross browser requestAnimationFrame method:
window.requestAnimationFrame = window.requestAnimationFrame
|| window.mozRequestAnimationFrame
|| window.webkitRequestAnimationFrame
|| window.msRequestAnimationFrame
|| function(f){setTimeout(f, 1000/60)}

$.fn.parallaxScroll = function(xpos, speedFactor, outerHeight) {
	var $smoothCache = true;
	// setup defaults if arguments aren't specified
	if (arguments.length < 1 || xpos === null) xpos = "50%";
	if (arguments.length < 2 || speedFactor === null) speedFactor = 0.1;
	if (arguments.length < 3 || outerHeight === null) outerHeight = true;

	var $this = $(this);
	var getHeight = $this.outerHeight(true);
	var firstTop = $this.offset().top;
	var paddingTop = 0;
	
	// function to be called whenever the window is scrolled or resized

	var $element, top, height, pos;

	function update(){

		pos = $(window).scrollTop();				
		
		$this.each(function(){

			firstTop = $this.offset().top;
			$element = $(this);
			top = $element.offset().top;
			height = $element.outerHeight(true);

			// Check if totally above or totally below viewport
			if (top + height < pos || top > pos + $(window).height()) {
				return;
			}

			var ua = window.navigator.userAgent;
	        var msie = ua.indexOf("MSIE ");

	        //for IE, Safari or any setup using the styled scrollbar default to animating the BG pos
	        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./) || $smoothCache == true || navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1) {
	        	$this.find('.row-bg.using-image').css('backgroundPosition', xpos + " " + Math.round((firstTop - pos) * speedFactor) + "px");
	        }
	       //for Firefox/Chrome use a higher performing method
	        else  {
	        	$this.find('.row-bg.using-image').transition({ 'y':  Math.round((firstTop - pos) * speedFactor) + "px"},0);
	        }              
			
		});
	}		

	window.addEventListener('scroll', function(){ 
		requestAnimationFrame(update); 
	}, false)

	$(window).on('resize',update);

	update();
};

function parallaxRowsBGCals(){
	$("#iBanner .row-bg").css({
		'height': $("#iBanner ").outerHeight(true)*2.5, 
		'margin-top': '-' + ($("#iBanner ").outerHeight(true)*2.5)/2 + 'px'
	});
}

function parallaxScrollInit(){
	$("#iBanner").parallaxScroll("50%", 0.2);
	parallaxRowsBGCals();
}

$(window).load(parallaxRowsBGCals);

$(document).ready(function() {
	parallaxScrollInit();
})
</script>

<!--

<div class="row-bg-wrap"> // mask
	<div class="row-bg using-image " style="background-image: url(/images/layout/bannerBG.jpg);"> // image bg

basic effect by css
	padding-top, padding-bottom, + copy height = banner height
	<mask> position: absolute, top:0, left:0, widht = height = 100%, overflow:hidden, 
		<bg> position: absolute, top:0, left:0, background-size: cover, background-attachment: fixed, height = origin image height

add Js to make scrolling more smooth
	when document is ready, calculate bg image height, margin-top:
	call Jquery pluging to move image smoothly
-->
<footer class="footerContent">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h4>Nam lectus elit, placerat</h4>
				<ul>
					<li><a href="#">Sed ut perspiciatis unde omnis iste natus </a></li>
					<li><a href="#">Sed ut perspiciatis unde omnis iste natus </a></li>
					<li><a href="#">Sed ut perspiciatis unde omnis iste natus </a></li>
				</ul>
			</div>
			<div class="col-sm-4">
				<h4>Nam lectus elit, placerat</h4>
				<ul>
					<li><a href="#">Sed ut perspiciatis unde omnis iste natus </a></li>
					<li><a href="#">Sed ut perspiciatis unde omnis iste natus </a></li>
					<li><a href="#">Sed ut perspiciatis unde omnis iste natus </a></li>
				</ul>
			</div>
			<div class="col-sm-4">
				<h4>Nam lectus elit, placerat</h4>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab </p>
				<p><i class="fa fa-phone"></i> (07) 5512 3456</p>
				<p><i class="fa fa-home"></i> 1234/56 Lorem Ipsum St, Consectetur, QLD 4000</p>
				<p><i class="fa fa-envelope-o"></i> lorem@ipsum.com.au</p>
			</div>
		</div>
	</div>
	<div class="bottomStripe">
		<div class="container ">
			<div class="col-sm-4"><p>&copy;  All Rights Reserved. </p></div>
			<div class="col-sm-8 rightContent">
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-facebook-official"></i></a>
				<a href="#"><i class="fa fa-pinterest-square"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-dribbble"></i></a>
				<a href="#"><i class="fa fa-rss"></i></a>
				<a href="#"><i class="fa fa-github-alt"></i></a>
				<a href="#"><i class="fa fa-google-plus"></i></a>
				<a href="#"><i class="fa fa-instagram"></i></a>
			</div>
		</div>
	</div>
	
	<a id="to-top" class="hidden-xs hidden-sm" style="bottom:-30px;"><i class="fa fa-angle-up"></i></a>
</footer>


<script>
$( document ).ready(function() {
	toTopBind();
	
	// across site click to top button and #top link, back to top
	$('body').on('click',' #to-top, a[href="#top"]', function(){
		$('body, html').stop().animate({ scrollTop: 0 }, 'slow');
		return false;
	});
});

function toTopBind() {
	if( $('#to-top').length > 0 && $(window).width() > 1020) {
		if($(window).scrollTop() > 350){
			$(window).on('scroll', showToTop);
		}else {
			$(window).on('scroll', hideToTop);
		}
	}
}

function showToTop(){
	if( $(window).scrollTop() > 350 ){
		$('#to-top').stop(true,true).animate({ 'bottom' : '17px'},'slow');	
		$(window).off('scroll',showToTop);
		$(window).on('scroll',hideToTop);
	}
}

function hideToTop(){
	if( $(window).scrollTop() < 350 ){
		$('#to-top').stop(true,true).animate({ 'bottom' : '-30px'},'slow');	
		$(window).off('scroll',hideToTop);
		$(window).on('scroll',showToTop);	
	}
}
</script>

<!--
topTopJS
	toTopBind()
		window size > 1020 and scroll donw > 350 showToTop()
		else hideToTop()
	showToTop()
		show btn
		remove self from listener, listen to hideToTop()
	hideToTop()
		if scroll down < 350
			hide btn
			remove self from listener, listen to showToTop()
-->
</body>
</html>
