<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="/javascripts/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/vendor.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
    <script src="/javascripts/vendor.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body style="background: #f5f5f5;">
<header id="nav_standardSearchTransparentBG">

<nav class="navbar navbar-default yamm navbar-fixed-top">
  <div class="container">
  
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navbar-collapse" class="navbar-toggle collapsed" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand"><img src="/images/layout/logo.png" ></a>
    </div>

    <div id="navbar-collapse" class="navbar-collapse collapse" aria-expanded="false">
      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ABOUT <span class="caret"></span></a>
          <ul class="dropdown-menu classic" role="menu">
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
          </ul>
        </li>
        <!-- item1 finish -->
      
        <li class="dropdown yamm-fw">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="true">PRODUCT<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <div class="yamm-content">
                <div class="row">
                  
                  <div class="col-sm-4 menuColumn">
                    <h4>Catalog 1</h4>
                    <ul>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                    </ul>
                  </div>
                
                  <div class="col-sm-4 menuColumn">
                    <h4>Catalog 2</h4>
                    <ul>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                    </ul>
                  </div>
                
                  <div class="col-sm-4 menuColumn">
                    <h4>Catalog 3</h4>
                    <ul>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                      <li><a href="#">Product name</a></li>
                    </ul>
                  </div>

                </div>
              </div>
            </li>
          </ul>
        </li>
        <!-- item2 finish -->
      
        <li class="dropdown yamm-fw">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="true">SERVICE<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <div class="yamm-content">
                <div class="row">
                  
                  <div class="col-sm-3 menuColumn">
                    <h4>Catalog 1</h4>
                    <ul>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                    </ul>
                  </div>

                  <div class="col-sm-3 menuColumn">
                    <h4>Catalog 2</h4>
                    <ul>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                    </ul>
                  </div>

                  <div class="col-sm-3 menuColumn">
                    <h4>Catalog 3</h4>
                    <ul>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                    </ul>
                  </div>

                  <div class="col-sm-3 menuColumn">
                    <h4>Catalog 4</h4>
                    <ul>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                      <li><a href="#">Service name</a></li>
                    </ul>
                  </div>

                </div>
              </div>
            </li>
          </ul>
        </li>
        <!-- item3 finish -->

        <li>
          <a href="#">CONTACT</a>
        </li>
        <!-- item4 finish -->
      
        <li>
          <form action="/search" name="searchForm" class="form-inline text-right search-form" roles="form">
            <div class="form-group">
              <label class="sr-only">Search Keyword</label>
              <input type="text" name="q" value="" placeholder="Keywords" class="form-control" required>
              <input type="hidden" name="cx" value="011149492506336809386:m4skf0wek1e">
            </div>
            <button class="search-button"><i class="fa fa-search fa-lg search-button-icon"></i></button>
          </form>
        </li>
        <!-- item5 finish -->

      </ul>
    </div>
  </div>
</nav>

</header>

<script type="text/javascript">
var logoHeightBig = 26;
var logoHeightSmall = 15;

var logoPaddingTopBig = 35;
var logoPaddingTopsmall = 25;

var navPaddingTopBig = 40;
var navPaddingTopSmall = 25;

var navPaddingBottomBig = 30;
var navPaddingBottomSmall = 15;

var searchPaddingTopBig = 33;
var searchPaddingSmall = 16;

$(document).ready(function() {
  $(window).off('scroll');
  $(window).on('scroll',smallNav);
})

function smallNav(){
  var offset = $(window).scrollTop();
  var windowWidth = $(window).width();

  if(offset > 0 && windowWidth > 768) {
    $('#nav_standardSearchTransparentBG .navbar-default').addClass('small-nav');
    $('#nav_standardSearchTransparentBG .navbar-brand img').stop(true,true).animate({ 'height' : logoHeightSmall },{queue:false, duration:200, easing: 'easeOutCubic'}); 
    $('#nav_standardSearchTransparentBG .navbar-brand').stop(true,true).animate({ 'padding-top' : logoPaddingTopsmall },{queue:false, duration:200, easing: 'easeOutCubic'});
    $('#nav_standardSearchTransparentBG .nav>li>a').stop(true,true).animate({ 'padding-top' : navPaddingTopSmall, 'padding-bottom': navPaddingBottomSmall },{queue:false, duration:200, easing: 'easeOutCubic'});  
    $('#nav_standardSearchTransparentBG .search-form').stop(true,true).animate({ 'padding' : searchPaddingSmall },{queue:false, duration:200, easing: 'easeOutCubic'});  
    $(window).off('scroll',smallNav);
    $(window).on('scroll',bigNav);
  }
}

function bigNav(){
    var offset = $(window).scrollTop();
    var windowWidth = $(window).width();
    if(offset == 0 && windowWidth > 768) {
      $('#nav_standardSearchTransparentBG .navbar-default').removeClass('small-nav');
      $('#nav_standardSearchTransparentBG .navbar-brand img').stop(true,true).animate({ 'height' : logoHeightBig },{queue:false, duration:200, easing: 'easeOutCubic'}); 
      $('#nav_standardSearchTransparentBG .navbar-brand').stop(true,true).animate({ 'padding-top' : logoPaddingTopBig },{queue:false, duration:200, easing: 'easeOutCubic'});
      $('#nav_standardSearchTransparentBG .nav>li>a').stop(true,true).animate({ 'padding-top' : navPaddingTopBig, 'padding-bottom': navPaddingBottomBig },{queue:false, duration:200, easing: 'easeOutCubic'});  
      $('#nav_standardSearchTransparentBG .search-form').stop(true,true).animate({ 'padding-top' : searchPaddingTopBig },{queue:false, duration:200, easing: 'easeOutCubic'});  
      $(window).off('scroll',bigNav);
      $(window).on('scroll',smallNav);
    }
}

// prevent unexpected menu close form yamm dropdown content
$(document).on('click', '.yamm .dropdown-menu', function(e) {
  e.stopPropagation();
}); 
</script>

<!--
Basic
  based on bootstrap nav
    <nav class="navbar navbar-default yamm navbar-fixed-top"> fix nav on top
    <ul class="nav navbar-nav navbar-right"> // right align first level menu
    set menu content in mobile view
      <button type="button" data-toggle="collapse" data-target="#navbar-collapse" class="navbar-toggle collapsed" aria-expanded="false">
      <div id="navbar-collapse" class="navbar-collapse collapse" aria-expanded="false">

Drop menu
  use yamm to extend bootstrap dropdown http://geedmo.github.io/yamm3/
    include yamm css into global css
    <nav class="navbar yamm navbar-default " role="navigation"> // add yamm into nav
      <ul class="nav navbar-nav">
        <li class="dropdown yamm-fw"> // fw = full width
          <div class="yamm-content"> // yamm-content is optional, make padding
             <div class="row"> 
    include this js
        $(document).on('click', '.yamm .dropdown-menu', function(e) {
          e.stopPropagation();
        }); 

Scrolling JS
  after page loaded, listen to smallNav()
  if start scroll, add extra class to nav bar
  resize logo, change menu content padding with animation
  listen to bigNav()
  if back to top, restore the changes made by smallNav(), then start listen to smallNav()

Search
  use google custom search engin, 
  submit form to search page, 
  using google code to render search result in search page
-->
<section class="fullSizeBannerSampleCopy">
	<div id="iBanner" data-bg-mobile-hidden="" class="wpb_row vc_row-fluid full-width-section parallax_section" style="padding:170px 0px;">
		<div class="container">
			<div class="row">
				<div class="col-sm-12" style="z-index:999;"><h1 style="color:#fff; font-size: 3.5em;">THIS SUMMER</h1></div>
			</div>
		</div>
		<div class="row-bg-wrap">
			<div class="row-bg using-image " style="background-image: url(/images/layout/header-bg2.jpg);"></div> 
		</div>

	</div>
</section>

<section>
	<div class="container">
		  <div class="row">
    			<div class="col-sm-12"><h1>ALL PRODUCTIONS</h1></div>
 		 </div>
		<div class="row">
			<div class="col-sm-8"><section class="productListing4Col">
<div class="row">
<div class="col-sm-4 item">
	<a href="#">
		<span class="featured">NEW</span>
		<img class="img-responsive" src="/images/shop/layout2/01.jpg">
		<h2>Flying Ninja</h2>
		<p class="price"><del>&pound;15.00</del> &pound;12.00</p>
	</a>
</div>

<div class="col-sm-4 item">
	<a href="#">
		<img class="img-responsive" src="/images/shop/layout2/02.jpg">
		<h2>Happy Ninja</h2>
		<p class="price">&pound;18.00</p>
	</a>
</div>

<div class="col-sm-4 item">
	<a href="#">
		<img class="img-responsive" src="/images/shop/layout2/03.jpg">
		<h2>Happy Ninja</h2>
		<p class="price">&pound;35.00</p>
	</a>
</div>
</div>

<div class="row">
<div class="col-sm-4 item">
	<a href="#">
		<img class="img-responsive" src="/images/shop/layout2/05.jpg">
		<h2>Ninja Silhouette</h2>
		<p class="price">&pound;35.00</p>
	</a>
</div>

<div class="col-sm-4 item">
	<a href="#">
		<span class="featured">NEW</span>
		<img class="img-responsive" src="/images/shop/layout2/06.jpg">
		<h2>Premium Quality</h2>
		<p class="price">&pound;20.00</p>
	</a>
</div>

<div class="col-sm-4 item">
	<a href="#">
		<img class="img-responsive" src="/images/shop/layout2/07.jpg">
		<h2>Patient Ninja</h2>
		<p class="price">&pound;35.00</p>
	</a>
</div>
</div>

<div class="row">
<div class="col-sm-4 item">
	<a href="#">
		<span class="featured">NEW</span>
		<img class="img-responsive" src="/images/shop/layout2/09.jpg">
		<h2>Ninja Silhouette</h2>
		<p class="price">&pound;35.00</p>
	</a>
</div>

<div class="col-sm-4 item">
	<a href="#">

		<img class="img-responsive" src="/images/shop/layout2/10.jpg">
		<h2>Premium Quality</h2>
		<p class="price">&pound;20.00</p>
	</a>
</div>

<div class="col-sm-4 item">
	<a href="#">
		<img class="img-responsive" src="/images/shop/layout2/11.jpg">
		<h2>Patient Ninja</h2>
		<p class="price">&pound;35.00</p>
	</a>
</div>
</div>

<div class="row">
<nav class="text-center">
	<ul class="pagination">
		<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
		<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
	</ul>
 </nav>
</div>
</section></div>
			<div class="col-sm-4"><aside class="aside2">
	<div class="asideSection">
		<h2>Leo eu volutpat vehicula</h2>
		
	</div>


</aside></div>
		</div>
	</div>
</section>

<footer class="footerContent">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h4>Nam lectus elit, placerat</h4>
				<ul>
					<li><a href="#">Sed ut perspiciatis unde omnis iste natus </a></li>
					<li><a href="#">Sed ut perspiciatis unde omnis iste natus </a></li>
					<li><a href="#">Sed ut perspiciatis unde omnis iste natus </a></li>
				</ul>
			</div>
			<div class="col-sm-4">
				<h4>Nam lectus elit, placerat</h4>
				<ul>
					<li><a href="#">Sed ut perspiciatis unde omnis iste natus </a></li>
					<li><a href="#">Sed ut perspiciatis unde omnis iste natus </a></li>
					<li><a href="#">Sed ut perspiciatis unde omnis iste natus </a></li>
				</ul>
			</div>
			<div class="col-sm-4">
				<h4>Nam lectus elit, placerat</h4>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab </p>
				<p><i class="fa fa-phone"></i> (07) 5512 3456</p>
				<p><i class="fa fa-home"></i> 1234/56 Lorem Ipsum St, Consectetur, QLD 4000</p>
				<p><i class="fa fa-envelope-o"></i> lorem@ipsum.com.au</p>
			</div>
		</div>
	</div>
	<div class="bottomStripe">
		<div class="container ">
			<div class="col-sm-4"><p>&copy;  All Rights Reserved. </p></div>
			<div class="col-sm-8 rightContent">
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-facebook-official"></i></a>
				<a href="#"><i class="fa fa-pinterest-square"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-dribbble"></i></a>
				<a href="#"><i class="fa fa-rss"></i></a>
				<a href="#"><i class="fa fa-github-alt"></i></a>
				<a href="#"><i class="fa fa-google-plus"></i></a>
				<a href="#"><i class="fa fa-instagram"></i></a>
			</div>
		</div>
	</div>
	
	<a id="to-top" class="hidden-xs hidden-sm" style="bottom:-30px;"><i class="fa fa-angle-up"></i></a>
</footer>


<script>
$( document ).ready(function() {
	toTopBind();
	
	// across site click to top button and #top link, back to top
	$('body').on('click',' #to-top, a[href="#top"]', function(){
		$('body, html').stop().animate({ scrollTop: 0 }, 'slow');
		return false;
	});
});

function toTopBind() {
	if( $('#to-top').length > 0 && $(window).width() > 1020) {
		if($(window).scrollTop() > 350){
			$(window).on('scroll', showToTop);
		}else {
			$(window).on('scroll', hideToTop);
		}
	}
}

function showToTop(){
	if( $(window).scrollTop() > 350 ){
		$('#to-top').stop(true,true).animate({ 'bottom' : '17px'},'slow');	
		$(window).off('scroll',showToTop);
		$(window).on('scroll',hideToTop);
	}
}

function hideToTop(){
	if( $(window).scrollTop() < 350 ){
		$('#to-top').stop(true,true).animate({ 'bottom' : '-30px'},'slow');	
		$(window).off('scroll',hideToTop);
		$(window).on('scroll',showToTop);	
	}
}
</script>

<!--
topTopJS
	toTopBind()
		window size > 1020 and scroll donw > 350 showToTop()
		else hideToTop()
	showToTop()
		show btn
		remove self from listener, listen to hideToTop()
	hideToTop()
		if scroll down < 350
			hide btn
			remove self from listener, listen to showToTop()
-->
</body>
</html>

